.Footer {
  
  background-color: #2880fb;
  font-family: sans-serif;
  & > .container {
    padding: 15px;
  }

  &__copiRight {
    color: #fff;
    width: 100%;
    text-align: left;
  }

  &__plant2 {
    float: right;
    margin-top: -136px;

    & > img {
      width: 100%;
    }
  }

  &__section1 {
    text-align: center;
    &__logo {
      width: 50%;
    }
  }

  &__section2 {
    color: white;
    & h3 {
      font-size: 2.1rem;
      font-weight: bold;
    }
    & ul > li {
      list-style: none;
      font-size: 1.5rem;
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
  }

  &__section3 {
    & h3 {
      color: white;
      font-weight: bold;
    }

    &__SN__Icons {
      width: 11rem;

      & > .iconFacebook{
        width: 1.1rem;
      }
      & > .iconLinkedin{
        width: 2.4rem;
      }
      & > .iconInstagram{
        width: 2.6rem;
      }
    }

    &__plant {
      width: 22%;
    }
  }

  &__copyRight {
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .Footer {

    &__section1 {
      & img {
        width: 80%;
      }
    }

    &__plant2 {
      float: none;
      margin-top: unset;
    }

    &__copiRight {
      text-align: center;
      color: #fff;
      font-size: 1.1rem;
    }
  }
}

@media (min-width: 1200px) {
  .Footer {
    &__section2 {
      & h3 {
        font-size: 2.5rem;
      }
      & ul > li {
        font-size: 1.8rem;
      }
    }

    &__copiRightDeskop{
      height: 36rem;
      & > img{
        width: 17.5rem;
      }
      &__text{
        font-size: 1.2rem;
        color: #fff;
      }
    }
    
  }
}

@media (min-width: 1600px){
  .Footer{

    &__plant2 {
      float: right;
      margin-top: 70px;
    }  
    &__plant2 > img{
      width: 20.5rem;
    }
    &__section1{
      margin-top: 80px !important;
    }

    &__section1 > img{
      width: 17.8rem;
    }
    
    &__SN__Icons {
      width: 14.8rem;

      & > .iconFacebook{
        width: 1.6rem;
        height: 3rem;
      }
      & > .iconLinkedin{
        width: 2.8rem;
        height: 2.8rem;
      }
      & > .iconInstagram{
        width: 3.2rem;
        height: 3.2rem;
      }
    }

    &__copiRightDeskop{
      height: 36rem;
      & > img{
        width: 17.5rem;
      }
      &__text{
        font-size: 1.8rem;
        color: #fff;
      }
    }
  }
}