.Footer {
  background-color: #2880fb;
  font-family: sans-serif;
  & > .container {
    padding: 15px;
  }

  &__copiRight {
    color: #fff;
    width: 100%;
    text-align: left;
  }

  &__plant2 {
    float: right;
    margin-top: -136px;

    & > img {
      width: 100%;
    }
  }

  &__section1 {
    text-align: center;
    &__logo {
      width: 50%;
    }
  }

  &__section2 {
    color: white;
    & h3 {
      font-size: 2.1rem;
      font-weight: bold;
    }
    & ul > li {
      list-style: none;
      font-size: 1.5rem;
      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }
    }
  }

  &__section3 {
    & h3 {
      color: white;
      font-weight: bold;
    }

    &__SN__Icons {
      svg {
        background-color: #2880fb;
        color: white;
        margin: 5px;
        font-size: 2.5rem;
      }
    }

    &__plant {
      width: 22%;
    }
  }

  &__copyRight {
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .Footer {
    &__section1 {
      & img {
        width: 80%;
      }
    }

    &__plant2 {
      float: none;
      margin-top: unset;
    }

    &__copiRight {
      text-align: center;
      color: #fff;
      font-size: 1.1rem;
    }
  }
}

@media (min-width: 1200px) {
  .Footer {
    &__section2 {
      & h3 {
        font-size: 2.4rem;
      }
      & ul > li {
        font-size: 1.8rem;
      }
    }
  }
}
