.NavBar{
    padding: 1.2rem 0;
    background: #f6f6f6;
    box-shadow: 0px 3px 6px #00000029;

    & > .container{
        padding: 0;
    }

    &__logo{
        height: 7rem;
    }
    &__groupBtns{
        float: right;
        & .btn{
            font-size: 1.6rem;
            color: #4d4d4d;
        }
    }
    &__btnLogin.btn{
        font-size: 2.5rem;
        margin-right: 10rem;
        padding: .8rem 4.6rem;
        background-color: transparent;
        color: #28cc8b;
        border: 2px solid #28cc8b;
        font-size: 2.2rem;

    }

    &__btnLogin.btn:hover, 
    &__btnLogin.btn-outline-secondary:not(:disabled):not(.disabled):active,
    &__btnLogin.btn-outline-secondary:focus{
      background-color: #2880fb;
      border-color: #2880fb;
      color: #fff;
    }

    &__btnLogin.btn-outline-secondary:focus,
    &__btnLogin.btn-outline-secondary:not(:disabled):not(.disabled):active:focus{
      box-shadow: 0 0 0 0.2rem rgba(40,128,251,.5);
    }

     
}

@media(max-width: 768px){
    .NavBar .container{
        padding: 0 1.5rem;
    }
    .NavBar__logo{
        height: 4rem;
    }
}