.DPApplication{
    text-align: center;
    background-color: #2577EA;
    
    &__title{
        color: #fff;
    }

    &__description{
        color: #fff;
    }
    &__button {
        text-align: center;
        & .btn-outline-secondary {
          font-size: 1.8rem;
          text-transform: uppercase;
          color: #fff;
          background: #28CC8B;
          border: 2px solid #28CC8B;
        }
        & .btn-group-lg > .btn,
        & .btn-lg {
          padding: 1rem 3rem;
        }
    
    }
}