.DPConditions{
    
    &__title{
        text-align: center;
        margin-bottom: 8rem;
        margin-top: 7rem;

    }

    &__button{
        margin: 10rem 0 7rem 0;
        text-align: center;
    }

    &__box {
        height: 47rem;
        width: 30rem;
        color: #eee;
        font-family: monospace;
        padding: 3.5rem;
        margin: 1.5rem auto;
        background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 15px #00000029;
    }
    
    &__boxImagen{
        height: 23%;
        text-align: center;
        margin: 2rem 0;
    }
    
    &__boxImagen img{
        width: 86px;
    }
    
    &__boxTitle{
        height: 18%;
        text-align: center;
        & > h3{
            color: #2880fb;
            font-weight: 800;
        }
    }

    &__boxDescription{
        color: #000;
        & > p{
            font-size: 16px;
        }
    }

    &__button {
        text-align: center;
        & .btn-outline-secondary {
            font-size: 1.6rem;
            text-transform: uppercase;
            color: #2880fb;
            border: 2px solid #2880fb;
        }
        & .btn-group-lg > .btn,
        & .btn-lg {
            padding: 1rem 2rem;
        }

    }
}

@media (min-width: 768px) {

    .DPConditions__boxDescription p {
      font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .DPConditions {
        &__box {
            height: 43rem;
            width: 26rem;
            padding: 2.2rem;
        }
  
        &__boxImagen {
            height: 26%;
        }
  
        &__boxTitle {
            height: 18%;
            margin-bottom: 0;
            & > h3{
                font-size: 1.8rem;
            }
        }
  
        &__boxDescription p {
            font-size: 16px;
        }
  
        &__button {
            text-align: center;
            & .btn-outline-secondary {
                font-size: 1.8rem;
                text-transform: uppercase;
                color: #2880fb;
                border: 3px solid #2880fb;
            }
            & .btn-group-lg > .btn,
            & .btn-lg {
                padding: 1.3rem 2.5rem;
            }

        }
      

    }
  
}

@media (min-width: 1600px) {
    .DPConditions {
        &__box {
            height: 57rem;
            width: 35rem;
            padding: 3.5rem;
        }

        &__boxImagen {
            height: 28%;

            & > img{
                width: 40%;
            }
        }

        &__boxTitle {
            margin-bottom: 0;
            & > h3{
                font-size: 2.1rem;
            }
        }

        &__boxDescription p {
            font-size: 19px;
        }

        &__button {
          text-align: center;
          & .btn-outline-secondary {
            font-size: 2rem;
            text-transform: uppercase;
            color: #2880fb;
            border: 3px solid #2880fb;
          }
          & .btn-group-lg > .btn,
          & .btn-lg {
            padding: 1.5rem 4rem;
          }
      
        }

    }
}
/*
@media(max-width: 1200px){
    .box{
        height: 50rem;
    }

}

@media(max-width: 992px){
    .box{
        height: 40rem;
        padding: 2rem;
    }
    
    .boxImagen{
        // background-color: #c0f7cd;
        height: 35%;
        margin: 1rem;
    }

    .boxImagen img{
        width: 92px;
        margin:0;
    }
    
    .boxTitle{
        // background-color: #ffeaee;
        height: 10%;
    }    
}
*/