.DPConditions{
    
    &__title{
        text-align: center;
        margin-bottom: 8rem;
        margin-top: 7rem;
        &>h1{
            margin-bottom: 5rem;
        }

    }

    &__button{
        margin: 10rem 0 7rem 0;
        
        text-align: center;
    }
}

.box {
    height: 60rem;
    width: 100%;
    color: #eee;
    font-family: monospace;
    padding: 2.5rem;
    margin: 1.5rem auto;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 15px #00000029;
}

.box__imagen{
    height: 20%;
    text-align: center;
    margin: 2rem 0;
}

.box__imagen img{
    width: 86px;
}

.box__title{
    height: 12%;
    color: black;
    text-align: center;
    margin-bottom: 0;
}

@media(max-width: 1200px){
    .box{
        height: 50rem;
    }

}

@media(max-width: 992px){
    .box{
        height: 40rem;
        padding: 2rem;
    }
    
    .box__imagen{
        // background-color: #c0f7cd;
        height: 35%;
        margin: 1rem;
    }

    .box__imagen img{
        width: 92px;
        margin:0;
    }
    
    .box__title{
        // background-color: #ffeaee;
        height: 10%;
    }    
}