section {
  & .container {
    padding: 5rem 2.5rem;
  }
}

@media (min-width: 768px){
  section{
    & .container {
      padding: 5rem 0;
    } 
  } 
}

@media (min-width: 1200px){

  section{
    & .container {
      padding: 10rem 0;
    } 
  } 
  
}