.DPIntro {
  background-image: url("../../../images/arriere-plan-1.svg");
  background-repeat: no-repeat;
  background-size: 78%;
  background-position: right top;

  margin-top: 7rem;

  &__title {
    text-align: left;
    color: black;
  }

  &__button {
    text-align: center;
    font-family: sans-serif;
    & .btn-outline-secondary {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #2880fb;
      border: 2px solid #2880fb;
    }
    & .btn-group-lg > .btn,
    & .btn-lg {
      font-weight: bold;
      padding: 1rem 2rem;
    }

    & .btn:hover,
    & .btn-outline-secondary:not(:disabled):not(.disabled):active,
    & .btn-outline-secondary:focus {
      background-color: #2880fb;
      border-color: #2880fb;
      color: #ffffff;
    }

    & .btn-outline-secondary:focus,
    & .btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 128, 251, 0.5);
    }
  }
}

@media (min-width: 769px) {
  .DPIntro {
    margin-top: 10rem;
  }
}

@media (min-width: 1200px) {
  .DPIntro {
    &__title {
      font-size: 3.4rem; /* h1 */
    }

    &__text {
      font-size: 2rem; /* p */
    }

    &__button {
      text-align: center;
      & .btn-outline-secondary {
        font-size: 1.8rem;
      }
      & .btn-group-lg > .btn,
      & .btn-lg {
        padding: 1.3rem 2.5rem;
      }
    }
  }
}

@media (min-width: 1600px) {
  .DPIntro {
    &__title {
      font-size: 45px; /* h1 */
    }
    &__text {
      font-size: 2.4rem; /* p */
    }
    &__text:not(:last-child) {
      margin-bottom: 3rem;
    }

    &__button {
      text-align: center;

      & .btn {
        width: 32.4rem;
        height: 7.7rem;
      }

      & .btn-outline-secondary {
        font-size: 2rem;
      }
    }
  }
}
