.DPPlatform {

  &__title {
    max-width: 52.6rem;
    text-align: center;
  }

  &__text {
    list-style: none;

    &--change {
      font-weight: normal;
      & > li {
        display: flex;
        margin-bottom: 1rem;
        img {
          max-width: 26px;
          max-height: 22px;
          margin-left: -27px;
          margin-right: 7px;
        }
      }
    }
  }

  &__imgTime {
    max-width: 56.6%;
    margin: auto;
  }

  &__button {
    text-align: center;
    & .btn-outline-secondary {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #2880fb;
      border: 2px solid #2880fb;
    }
    & .btn-group-lg > .btn,
    & .btn-lg {
      padding: 1rem 2rem;
    }

  }  
}

@media (max-width: 768px) {
  .DPPlatform__text--change > li {
    img {
      margin-left: 0;
    }
  }
}

@media (min-width: 1200px) {
  
}

@media (min-width: 1600px) {
  .DPPlatform{
    &__button {
      text-align: center;
      & .btn-outline-secondary {
        font-size: 2rem;
        text-transform: uppercase;
        color: #2880fb;
        border: 3px solid #2880fb;
      }
      & .btn-group-lg > .btn,
      & .btn-lg {
        padding: 1.5rem 4rem;
      }
    }
  }
}