.DPPlatform {
  &__title {
    max-width: 52.6rem;
    text-align: center;
  }

  &__text {
    list-style: none;

    &--change {
      font-weight: normal;
      & > li {
        display: flex;
        margin-bottom: 2rem;
        img {
          max-width: 26px;
          max-height: 22px;
          margin-left: -50px;
          margin-right: 10px;
        }
        &:last-child {
          margin-bottom: 9rem;
        }
      }
    }
  }

  &__imgTime {
    max-width: 56.6%;
    margin: auto;
  }

  &__button {
    text-align: center;
    font-family: sans-serif;
    & .btn-outline-secondary {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #2880fb;
      border: 2px solid #2880fb;
    }
    & .btn-group-lg > .btn,
    & .btn-lg {
      font-weight: bold;
      padding: 1rem 2rem;
    }

    & .btn:hover,
    & .btn-outline-secondary:not(:disabled):not(.disabled):active,
    & .btn-outline-secondary:focus {
      background-color: #abd5f1;
      border-color: #abd5f1;
      color: #2880fb;
    }

    & .btn-outline-secondary:focus,
    & .btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 128, 251, 0.5);
    }
  }
}

@media (max-width: 768px) {
  .DPPlatform__text--change > li {
    img {
      margin-left: 0;
    }
  }
}

@media (min-width: 768px) {
  .DPPlatform {
    &__title {
      text-align: left;
    }
  }
}

@media (min-width: 1200px) {
  .DPPlatform {
    &__button {
      text-align: center;
      & .btn-outline-secondary {
        font-size: 1.8rem;
      }
      & .btn-group-lg > .btn,
      & .btn-lg {
        padding: 1.3rem 2.5rem;
      }
    }
  }
}

@media (min-width: 1600px) {
  .DPPlatform {
    &__button {
      text-align: center;

      & .btn{
        width: 32.4rem;
        height: 7.7rem;
      }


      & .btn-outline-secondary {
        font-size: 2rem;
      }
    }
    &__imgTime{
      max-width: 83%;
      width: 83%;
    }
    &__title{
      max-width: 57.6rem;
    }
    &__text--change > li img{
      max-width: none;
      max-height: none;
      width: 4.3rem;
      height: 3.2rem;
    }

  }
}
