.DPQestionPro{
    background-color: #ffffff;

    &__title{
        color: #4195FB;
        margin-bottom: 5rem;
        text-align: center;
    }

    &__subtitle{
        color: #626262;
    }

    &__description{
        color: #0D0E11;
    }
}

.DPQestionPro .card{
    border: 0;
}

.DPQestionPro .card-header{
    border-bottom: 2px solid rgba(0,0,0,.125);    
}