.DPBecomePro{
    background: transparent linear-gradient(180deg, #D0DEEB 0%, #F6F6F6 100%) 0% 0% no-repeat padding-box;
    
    & > .container{
        padding-left: 0;
        padding-right: 0;
    }

    &__carousel{
        padding: 0;
    }
    
    &__title{
        text-align: center;
    }
    &__pro{
        background-color: #fff;
        margin: 1.5rem 1rem;
        padding: 1.5rem;
        height: 250px;
    }

    &__img > img{
        border-radius: 50%;
    }

    & .react-multiple-carousel__arrow--right {
        right: 0px;
    }
    & .react-multiple-carousel__arrow--left{
        left: 0px;
    }
    & .react-multiple-carousel__arrow{
        min-width: 2.7rem;
        min-height: 2.7rem;
        background-color: #fff;
        &:before{
            color: #2880fb;
            font-size: 1.4rem;
            font-weight: bold;
        }
    }
    &__evaluation--change,
    &__presetation--change{
        color:#237EFA;
        font-size: 1.6rem;
        font-weight: bold;
    }
    &__names>h4{
        font-size: 1.8rem;
    }

    &__carousel{
        margin: 0 7rem;
    }

    & .custom-button-group{
        width: 100%;
        height: 23.5rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -26.8rem;

        & > button{
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            font-size: 2.2rem;
            color: -internal-light-dark(transparent, white);
            //background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 2px solid #70707036;
            
            &:focus-visible,
            &:focus{
                outline: none;
            }


            &.btnNext{ 
                margin-right: -5rem;
            }

            &.btnPrev{ 
                margin-left: -5rem;
            }                
        }
        
    }

}


@media(min-width: 465px){
    .DPBecomePro{
        &__pro{
            margin: 1.5rem 3rem;
        }
    }
}



@media(min-width: 768px){
    .DPBecomePro{
        &__pro{
            margin: 1.5rem 2rem;
        }

        &__carousel{
            margin: 0 10rem;
        }
        & .custom-button-group{
            width: 100%;
            height: 23.5rem;
            margin-top: -26.8rem;

            & > button{
                height: 4rem;
                width: 4rem;
                &.btnNext{ 
                    margin-right: -5rem;
                }

                &.btnPrev{ 
                    margin-left: -5rem;
                }                
            }
            
        }


    }
}

@media(min-width: 1024px){
    .DPBecomePro{
        &__pro{
            margin: 1.5rem 1rem;
        }

        &__carousel{
            margin: 0 5rem;
        }        
    }
}


@media(min-width: 1200px){
    .DPBecomePro{
        &__pro{
            margin: 1.5rem 2.7rem;
        }

        &__carousel{
            margin: 0 7rem;
        }
        
        & .custom-button-group{
            width: 100%;
            height: 23.5rem;
            margin-top: -26.8rem;

            & > button{
                &.btnNext{ 
                    margin-right: -5rem;
                }

                &.btnPrev{ 
                    margin-left: -5rem;
                }                
            }
            
        }


    }
}

@media(min-width: 1600px){
    .DPBecomePro{
        &__pro{
            margin: 1.5rem 1.7rem 1.5rem 1.7rem;
            width: 24.6rem;
            height: 32.5rem;
        }
        &__carousel{
            margin: 0 15rem;
        }
        &__img{
            width: 9.6rem;
            height: 9.6rem;
            & > img{
                width: 100%;
            }
        }
        &__names h4{
            font-size: 2.2rem;
        }
        &__evaluation--change,
        &__presetation-change{
            font-size: 1.9rem;
        }
        &__textEvalPres{
            font-size: 13px;
        }

        & .custom-button-group{
            width: 100%;
            height: 32.5rem;
            margin-top: -34rem;

            & > button{
                height: 4rem;
                width: 4rem;
                
                &.btnNext{ 
                    margin-right: -5rem;
                }

                &.btnPrev{ 
                    margin-left: -5rem;
                }                
            }
            
        }

    }

}