.Cladvantages {
    background-color: $azure-blue;
    color: #fff;
    padding: 90px 5% 120px;

    @include breakpoint(tablet) {
        padding: 90px 5% 45px;
    }

    @include breakpoint(mobile) {
        padding: 90px 5% 40px;
    }

    h2{
        color: #fff;
        margin-bottom: 89px;
    }

    p{
        font-family: "Avenir_Black";
        font-size: 20px;
        max-width: 140px;

        @include breakpoint(mobile) {
            font-size: 14px;
        }
    }

    &__row{
        display: flex;
        gap: 25px;
        align-items: flex-start;
       

        @include breakpoint-reverse(tablet) {
            justify-content: center;
        }

        @include breakpoint(desktop) {
            padding-bottom: 42px;
        }

        @include breakpoint(mobile) {
            align-items: center;
        }
    }

    img{
        @include breakpoint(mobile) {
            max-width: 30px;
        }
    }
}