//Base
@import "base/colors";
@import "base/fonts";
@import "base/mixins";
@import "base/global";

//Components
@import "components/buttons";

@import "components/header";
@import "components/footer";

@import "components/hero";
@import "components/services";
@import "components/steps";
@import "components/experts";
@import "components/advantages";