.choose_service {
    max-width: 1400px;
    margin: auto !important;
}

.HousingType {
    min-height: 50vh;
    max-width: 900px;
    margin: 300px 50px auto;

    &__title {
        text-align: left !important;
        margin-bottom: 30px !important;
        font-size: 24px !important;
        color: #000;
    }

    .MuiBottomNavigation-root {
        height: inherit;
        background-color: transparent;
    }

    &__navigation {
        justify-content: flex-start !important;
    }

    &__button {
        height: 130px !important;
        max-height: 130px !important;
        width: 150px !important;
        max-width: 150px !important;
        background: #fff;
        background-color: #fff !important;
        display: grid;
        place-content: center;
        margin-right: 50px !important;

        &.MuiBottomNavigationAction-root.Mui-selected {
            color: $dodger-blue_6;
            border: 3px solid $dodger-blue_6;
            font-size: 12px;

            .a {
                fill: $dodger-blue_6;
            }
        }

        svg {
            max-height: 50px;
        }

        .MuiButton-startIcon {
            margin: 0;
        }

        .MuiBottomNavigationAction-label,
        .MuiBottomNavigationAction-label.Mui-selected {
            margin-top: 20px;
            font-family: "Avenir_Book";
            text-transform: uppercase;
            font-size: 12px;
        }

        .MuiBottomNavigationAction-label.Mui-selected {
            font-family: "Avenir_Black";
        }
    }

    .a {
        fill: #8e8f8d;
    }
}
option {
    padding-left: 20px !important;
    padding-right: 20px !important;

    &:hover {
        cursor: pointer;
        background-color: $gallery;
    }
}
/*------------------------------------------------------------------
[Studio Srvices] 
*/
.StudioServices__choice-container {
    margin-top: 60px;

    .StudioServices__choice-form {
        display: flex;
        gap: 67px;
        flex-wrap: wrap;
        margin-bottom: 100px;
        margin-top: 30px;

        label {
            margin-bottom: 20px;
        }
    }

    .StudioServices__list {
        li {
            position: relative;
            padding-left: 28px;
        }

        li::before {
            content: "";
            border-radius: 50%;
            color: $shamrock;
            background: $shamrock;
            width: 11px;
            height: 11px;
            position: absolute;
            left: 10px;
            top: 5px;
        }
    }
}
.MuiSelect-selectMenu {
    background: #fff;
}

.MuiInputBase-input {
    background: #fff !important;
    border: 2px solid $dodger-blue_6 !important;
}

.MuiInputLabel-formControl {
    transform: translate(0, 0) scale(1) !important;
    position: static !important;
    margin-bottom: 20px !important;
    font-size: 20px;
    font-family: "Avenir_Regular";
    color: #000 !important;

    img {
        margin-right: 11px;
    }
}
label + .MuiInput-formControl {
    margin-top: 0 !important;
}

.MuiSelect-select.MuiSelect-select {
    padding-left: 24px;
}
/*------------------------------------------------------------------
[Combo Srvices] 
*/
.ComboServices__size {
    margin-bottom: 69px;
}

.homeSize_select {
    width: 436px;

    .MuiInputBase-input {
        border: none !important;
    }

    .MuiInput-underline:before {
        border: none !important;
    }

    svg {
        fill: $dodger-blue_6;
    }
}

/*------------------------------------------------------------------
[Footer Srvices] 
*/
.services_footer {
    max-width: 1300px;
    margin: auto;

    .services_backlink {
        text-transform: uppercase;
        color: $dove-gray_3;
        font-family: "Avenir_Black";
        font-size: 18px;
        position: relative;
        margin-left: 35px;

        &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-top: 2px solid $dove-gray_3;
            border-left: 2px solid $dove-gray_3;
            transform: rotate(-38deg);
            position: absolute;
            left: -20px;
            top: 9px;
        }
    }

    p {
        margin-top: 60px;
        margin-bottom: 30px;
        color: $monsoon;
        font-size: 15px;
    }
}
