.HousingType {
    min-height: 50vh;
    max-width: 1300px;
    margin: 300px auto auto;

    &__title {
        text-align: left !important;
        margin-bottom: 30px !important;
        font-size: 24px;
        color: #000;
    }

    .MuiBottomNavigation-root {
        height: inherit;
        background-color: transparent;
    }

    &__navigation {
        justify-content: flex-start !important;
    }

    &__button {
        height: 150px;
        max-height: 150px !important;
        width: 150px;
        max-width: 150px !important;
        background: #fff;
        background-color: #fff !important;
        display: grid;
        place-content: center;
        margin-right: 100px !important;

        &.MuiBottomNavigationAction-root.Mui-selected {
            color: $dodger-blue_6;
            border: 3px solid $dodger-blue_6;
            font-size: 12px;

            .a {
                fill: $dodger-blue_6;
            }
        }

        svg {
            max-height: 50px;
        }

        .MuiButton-startIcon {
            margin: 0;
        }

        .MuiBottomNavigationAction-label,
        .MuiBottomNavigationAction-label.Mui-selected {
            margin-top: 20px;
            font-family: "Avenir_Book";
            text-transform: uppercase;
            font-size: 12px;
        }
    }

    .a {
        fill: #8e8f8d;
    }
}

.StudioServices__choice-container {
    margin-top: 60px;

    .StudioServices__choice-form {
        display: flex;
        gap: 100px;
        flex-wrap: wrap;
        margin-bottom: 100px;

        label {
            margin-bottom: 20px;
        }
    }
}

/*------------------------------------------------------------------
[Combo Srvices] 
*/
.ComboServices__size {
    margin-bottom: 69px;
}
