.options_card {
    width: 271px;
    height: 169px;
    background: #fff;
    padding: 20px;
    cursor: pointer;

    @include breakpoint(mobile) {
        height: 149px;
    }

    .options_card__header {
        display: flex;
        flex-grow: 1;
        gap: 10px;
        align-items: center;
        margin-bottom: 16px;

        .counter {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 20px;

            p {
                margin: 0 !important;
                font-family: "Avenir_Black";
                font-size: 29px;
                color: $stack;

                @include breakpoint(mobile) {
                    font-size: 20px;
                }
            }

            .counter_btn{
                font-family: "Avenir_Black";
                font-size: 29px;
                color: $dodger-blue_6;

                @include breakpoint(mobile) {
                    font-size: 20px;
                }
            }
        }

        .counter_btn {
            background-color: none;
            border: none;
            background: transparent;
        }
    }

    h6 {
        font-size: 18px;
        font-family: "Avenir_Black";
        text-transform: uppercase;
        color: $stack;

        @include breakpoint(mobile) {
            font-size: 15px;
        }
    }

    .options_card__desc {
        p {
            font-size: 15px;
            font-family: "Avenir_Regular";
            color: $stack;

            @include breakpoint(mobile) {
                font-size: 12px;
            }
        }
    }
}
