.options_card {
    width: 271px;
    height: 169px;
    background: #fff;
    padding: 20px;
    cursor: pointer;
    border: solid 1px transparent;
    margin-bottom: 43px;
    margin-right: 43px;

    &:nth-child(3n) {
        @include breakpoint-reverse(tablet) {
            margin-right: 0;
        }
    }

    @include breakpoint(mobile) {
        height: 149px;
        margin-bottom: 20px;
    }

    @include breakpoint(tablet) {
        margin-right: 0;
    }

    &:nth-child(2n + 1) {
        @include breakpoint(tablet) {
            margin-right: 43px;
        }

        @include breakpoint(mobile) {
            margin-right: 0;
        }
    }

    .options_card__header {
        display: flex;
        flex-grow: 1;
        align-items: center;
        margin-bottom: 16px;

        img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(45deg) brightness(102%) contrast(103%);
            margin-right: 10px;
        }

        .counter {
            margin-left: auto;
            display: flex;
            align-items: center;

            p {
                margin: 0 20px !important;
                font-family: "Avenir_Black";
                font-size: 29px;
                color: $stack;

                @include breakpoint(mobile) {
                    font-size: 20px;
                }
            }

            .counter_btn {
                font-family: "Avenir_Black";
                font-size: 29px;
                color: $dodger-blue_6;

                @include breakpoint(mobile) {
                    font-size: 20px;
                }
            }
        }

        .counter_btn {
            background-color: none;
            border: none;
            background: transparent;
        }
    }

    h6 {
        font-size: 18px;
        font-family: "Avenir_Black" !important;
        text-transform: uppercase;
        color: $stack;

        @include breakpoint(mobile) {
            font-size: 15px;
        }
    }

    .options_card__desc {
        p {
            font-size: 15px;
            font-family: "Avenir_Regular";
            color: $stack;

            @include breakpoint(mobile) {
                font-size: 12px;
            }
        }
    }

    &.active {
        border: solid 2px #2880f9;
        box-shadow: 0px 3px 6px #00000029;

        img {
            filter: invert(51%) sepia(53%) saturate(5770%) hue-rotate(200deg) brightness(97%) contrast(102%);
        }

        .counter {
            p {
                color: #000;
            }
        }

        h6 {
            color: $dodger-blue_6;
        }

        .options_card__desc {
            p {
                color: #000;
            }
        }
    }

    &:nth-child(5){
        &.active {
            img {
                filter: none !important;
            }

        }
    }
}
