.sidebar {
    margin-top: 330px;
    max-width: 350px;
    margin-left: auto;
    background: #fff;
    position: sticky;

    h2 {
        font-size: 24px !important;
    }

    &__submit {
        color: #fff !important;
        background-color: $shamrock !important;
        box-shadow: none !important;
        padding: 30px 100px !important;
        width: 100%;
        border-radius: 0 !important;
    }
}

// .row {
//     margin: 0;
// }

.demande__housing_specification {
    border-bottom: 1px solid $gray;
    min-height: 200px;
    padding: 49px 10px 0 25px;

    h2::after {
        content: "";
        border-bottom: 5px solid $mountain-meadow;
        width: 141px;
        display: block;
        margin-top: 18px;
    }

    h4 {
        margin-top: 30px;
    }
}

.demande__balance {
    border-bottom: 1px solid $gray;
    padding: 12px 10px 0 25px;

    .balance__info {
        font-size: 16px;
        text-decoration: underline;
        color: $dodger-blue_7;
        text-transform: inherit;
        font-family: "Avenir_Regular";

        &:hover {
            background: transparent;
        }

        &:focus,
        &:active {
            outline: none;
            border: 1px solid $shamrock;
        }
    }
}

.balance__title {
    display: flex;
    justify-content: space-between;
}
