
.sms_validation{
    margin: 300px auto 0;
    text-align: center;
    width: 1000px;
    background-color: #fff;
    padding: 30px;

    h2 {
        font-size: 25px;

    }

    h3 {
        font-size: 20px;
    }
}