.Validation {
    margin: 300px 50px auto;

    @include breakpoint(mobile) {
        margin: 246px 16px auto;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
        gap: 40px;
    }

    .Validation_row {
        margin-top: 30px;
        margin-bottom: 60px;
        align-items: flex-start;
        justify-content: center;
    }

    .Validation_firstCol{
        background-color: #fff;
    }

    .Validation_col {
        background-color: #fff;
        padding: 30px 20px;

        &:last-child {
            padding: 0;
            background-color: transparent;
        }
    }

    .section__title {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    h6 {
        color: #0d0e12;
        font-family: "Avenir_Black" !important;
        font-size: 17px;

        @include breakpoint(mobile) {
            font-size: 14px;
        }
    }

    .blue__title {
        color: $dodger-blue_6;
        font-family: "Avenir_Black";
        text-transform: uppercase;
        font-size: 17px;

        @include breakpoint(mobile) {
            font-size: 14px;
        }
    }

    .validation_recap {
        margin-top: 40px;
    }

    .recap_list {
        color: $dove-gray_2;
        font-size: 17px;

        @include breakpoint(mobile) {
            font-size: 14px;
        }
    }

    .recap_title {
        font-size: 20px;
        margin: 20px auto;

        @include breakpoint(mobile) {
            font-size: 16px;
        }
    }

    .MuiFormControlLabel-root {
        align-items: flex-start;
    }

    .MuiFormControlLabel-label {
        font-family: "Avenir_Regular";
        font-size: 17px;
        color: #000;

        @include breakpoint(mobile) {
            font-size: 14px;
        }
    }

    .MuiCheckbox-root {
        padding: 0 9px !important;
    }

    .terms_link {
        font-family: "Avenir_Regular";
        font-size: 17px;
        color: #000;

        @include breakpoint(mobile) {
            font-size: 14px;
        }
    }

    .validation__submit {
        color: #fff !important;
        background-color: $dove-gray_1 !important;
        box-shadow: none !important;
        padding: 30px 41px !important;
        width: 100%;
        border-radius: 0 !important;
        font-family: "Avenir_Black";

        @include breakpoint(mobile) {
            padding: 19px 15px !important;
            font-size: 14px;
        }
    }

    .error_box {
        margin-top: 47px;
        width: 100%;
        background-color: #fff;
        padding: 20px 30px;
        display: flex;
        gap: 20px;
        align-items: center;
        border: 1px solid $coral-red;
    }

    .error_icon {
        max-width: 30px;
        height: auto;
    }

    .error_message {
        color: $coral-red;
        text-align: center;
    }

    .information_form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 27px;
        margin-top: 47px;
    }

    .MuiInputLabel-formControl {
        transform: translate(0, 0) !important;
        position: absolute !important;
        margin: 16px;
    }

    .MuiFormControl-root {
        height: 74px;

        @include breakpoint(mobile) {
            width: 100%;
        }
    }

    .MuiFormLabel-root {
        font-family: "Avenir_Regular";
        font-size: 15px;
        color: $dodger-blue_6 !important;

        @include breakpoint(mobile) {
            font-size: 12px;
        }
    }

    .MuiOutlinedInput-input {
        padding: 39px 36px 12px 14px;
        font-family: "Avenir_Regular";
        font-size: 17px;

        @include breakpoint(mobile) {
            font-size: 14px;
        }
    }

    .MuiInput-underline:after,
    .MuiInput-underline:before {
        display: none;
    }

    .password_container {
        position: relative;
    }

    .visibility_button {
        position: absolute;
        right: 0;
        top: 70%;
    }

    .MuiOutlinedInput-adornedEnd {
        padding-right: 0;
    }

    .visibilityOff_icon {
        fill: $dodger-blue_6;
    }

    .progress {
        width: 246px;

        @include breakpoint(mobile) {
            width: auto;
        }
    }

    .estimation_box {
        border-top: solid 2px $dove-gray_2;
    }

    .estimation_box {
        background-color: #fff;
        padding: 30px 20px;

        .estimation_info {
            font-size: 14px;
            color: #717171;
            text-align: center;

            @include breakpoint(mobile) {
                font-size: 12px;
            }
        }

        .estimation__info_button {
            font-size: 16px;
            text-decoration: underline;
            color: $dodger-blue_7;
            text-transform: inherit;
            font-family: "Avenir_Regular";

            @include breakpoint(mobile) {
                font-size: 13px;
            }

            &:hover {
                background: transparent;
            }

            &:focus,
            &:active {
                outline: none;
                border: 1px solid $shamrock;
            }
        }
    }

    .estimation_header {
        display: flex;
        justify-content: space-between;
    }

    .estimation_title,
    .estimation_price {
        font-family: "Avenir_Black";
        text-transform: uppercase;
        font-size: 25px;

        @include breakpoint(mobile) {
            font-size: 17px;
        }
    }

    .estimation_price {
        color: $dodger-blue_6
    }

    .MuiLinearProgress-colorPrimary{
        background-color: #AAAAAA;
    }

    .MuiLinearProgress-barColorPrimary{
        background-color: #F79C09;
    }
}
