/*------------------------------------------------------------------
[Buttons] 
*/
.btn {
    font-family: "Avenir_Black";
    font-size: 20px;
    padding: 10px 28px;
    border-radius: 0;
    text-transform: uppercase;
    transition: ease-in 0.3s;
    border: none;

    @include breakpoint(mobile) {
        font-size: 15px;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn_blue_bg {
    @extend .btn;
    background: $btn_bg_blue;
    border: 3px solid $btn_bg_blue;
    color: #fff;

    &:hover {
        color: $btn_bg_blue;
        background: #fff;
    }
}

.btn_green_bg {
    @extend .btn;
    background: $bg_green;
    color: #fff;
    transition: ease-in 0.3s;
    border: 3px solid $bg_green;

    &:hover {
        color: $bg_green;
        background: #fff;
    }
}

.btn_nav {
    @extend .btn;
    background: #fff;
    color: $btn_nav_blue;
    border: 3px solid #fff;

    &:hover {
        color: #fff;
        background: #443ffd;
        border: 3px solid #fff;
    }
}

.btn_round {
    font-family: "Avenir_Black";
    font-size: 15px;
    padding: 10px 28px;
    border-radius: 13px;
    text-transform: uppercase;
    transition: ease-in 0.3s;
    border: 3px solid $dodger-blue_4;
    color: $dodger-blue_4;

    &:hover,
    &:focus {
        text-decoration: none;
        color: #fff;
        background: $dodger-blue_4;
    }

    @include breakpoint(mobile) {
        font-size: 11px;
        padding: 10px 18px;
    }
}
