.Clexperts {
    background-color: #fff;
    padding: 158px 5% 270px;

    @include breakpoint(tablet) {
        padding: 100px 5% 170px;
    }

    @include breakpoint(mobile) {
        padding: 58px 5% 74px;
    }

    h2 {
        margin-bottom: 94px;
        text-align: left;

        @include breakpoint(mobile) {
            margin-bottom: 44px;
        }
    }

    p {
        margin-bottom: 30px;
    }

    span {
        font-family: "Avenir-Black";
    }

    img {
        max-width: 600px;
        width: 100%;
        margin-top: 50px;
    }
}
