/*------------------------------------------------------------------
[Header] 
*/
.clientNav {
    background: transparent;
    transition: ease-in 0.3s;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 57px 2% 30px 5%;
    width: 100%;

    .navbar-toggler {
        margin-left: auto;
    }

    .NavBar__container {
        width: 100%;
        max-width: 1600px;
        margin: auto;
        display: flex;
        gap: 160px;

        @include breakpoint-reverse(xx-large) {
            gap: 226px;
        }

        @include breakpoint(desktop) {
            flex-wrap: wrap;
        }
    }
    
    .NavBar__menu {
        flex-grow: 1;
        align-items: center;
    }

    .NavBar__item {
        color: #fff !important;
        font-size: 20px;

        &:nth-child(1),
        &:nth-child(2) {
            margin: 0 51px;
        }

        &.NavBar__language__item {
            font-family: "Avenir_Light";
            font-size: 21px;
            font-weight: 300;
            margin: 0 30px;
        }

        &:hover {
            font-family: "Avenir_Black";
        }
    }

    .btn_nav{
        @include breakpoint-reverse(desktop) {
            margin-left: auto;
        }
    }
}

// Navbar when scrolled and Burger menu opened
.clientNav__nav--scrolled,
.menu_open {
    background: #fff;

    .NavBar__item {
        color: $title_color !important;
    }

    .btn_nav {
        border: 4px solid $btn_nav_blue;

        &:hover {
            box-shadow: 0 0.5em 0.5em -0.4em rgba($azure-blue, 0.8);
        }
    }
}

.menu_open {
    .NavBar__container{
        gap: 60px;
    }

    .btn_nav {
        margin-left: 0;
        margin-bottom: 30px;
    }

    .NavBar__item:nth-child(n) {
        margin-bottom: 30px;
    }
}

.clientNav__nav--scrolled {
    padding: 46px 2% 29px 5%;
}
