* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
  font-family: Righteous, "Roboto", "Avenir", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: aqua; */
}

p,
h3 {
  font-family: sans-serif;
}

.container {
  padding: 0 3rem;
}

h3 {
  font-size: 1.9rem;
}

p {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .container{
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.1rem;
  }

  p{
    font-size: 2rem;
  }

}

@media (min-width: 1600px) {
  .container {
    max-width: 1530px;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

}
