* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
  font-family: Righteous, "Roboto", "Avenir", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: aqua; */
}
/*
h1 {
  font-family: "Righteous", cursive;
  font-size:  1.823vw;   3.5rem; 
}

h2{
  font-size: 1.5625vw;
}

h3 {
  font-size: 1.09375vw;   2.1rem; 
  font-weight: 800;
}

p {
  font-family: normal, "Avenir next";
  font-size: 1.25vw;   2.4rem; 
  color: #0d0e11;
  letter-spacing: 0;
}
*/
p,
h3 {
  font-family: sans-serif;
}

.container {
  padding: 0 3rem;
}
/*
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.8rem;
  font-family: sans-serif;
}


*/
h3 {
  font-size: 1.9rem;
}

p {
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  .container{
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  
/*  
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.6rem;
  }
*/
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.1rem;
  }

  p{
    font-size: 2rem;
  }
/*
  h1 {
    font-family: "Righteous", cursive;
    font-size: 3.5rem;
  }


  h3 {
    font-size: 1.7rem; 2.1rem;  
    font-weight: 800;
  }

  p {
    font-family: normal, "Avenir next";
    font-size: 2rem;
    color: #0d0e11;
    letter-spacing: 0;
  }
  */
}

@media (min-width: 1600px) {
  .container {
    max-width: 1640px;
  }

  h2 {
    font-size: 3.5rem;
  }

}
