/*------------------------------------------------------------------
[Variables] 
*/

/*------------------------------------------------------------------
[Resets] 
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:focus {
    outline: 1px solid $mountain-meadow;
}

body {
    font-family: "Avenir_Regular";
    background-color: $body_bg_color;
    color: $body_text_color;
}

ul {
    list-style: none;
}

/*------------------------------------------------------------------
[Typography] 
*/
h1,
h2,
h3,
h4,
h5 {
    font-family: "Avenir_Black";
    text-transform: uppercase;
}

h1 {
    font-size: 68px;
    color: #000000;

    @include breakpoint(mobile) {
        font-size: 40px;
    }
}

h2 {
    font-size: 35px;
    color: $title_color;

    @include breakpoint(mobile) {
        font-size: 20px;
    }
}

h5 {
    text-transform: inherit;
    font-size: 25px;
    color: #fff;

    @include breakpoint(mobile) {
        font-size: 15px;
    }
}

p {
    font-family: "Avenir_Regular";
}

/*------------------------------------------------------------------
[Utilities] 
*/
.green_text {
    color: $bg_green !important;
}
