.btn-outline-secondary{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #2880FB;
    border: 2px solid #2880FB;
}
.btn-group-lg>.btn, .btn-lg{
    padding: 1rem 3rem;
}
